@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Jost', sans-serif;
    background-color: #f7f8fd;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    line-height: 35px;
    letter-spacing: -0.333333px;
  }
  h2 {
    line-height: 29px;
    letter-spacing: -0.25px;
  }
  h3 {
    line-height: 26px;
    letter-spacing: -0.25px;
  }
  h4 {
    line-height: 20px;
    letter-spacing: -0.194444px;
  }
  small {
    font-size: 100%;
  }

  button {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
  button:disabled {
    cursor: progress;
  }
  input {
    margin: 0;
  }
  svg {
    display: inline;
  }
}

:root {
  --bg-indigo-100: #f7f8fd;
  --bg-indigo-300: #f2f4ff;
  --bg-indigo-400: #cfd7ff;
  --sky-medium: #62bcfa;
  --coral: #f49f85;
  --blue-900: #4661e6;
  --violet-900: #ad1fea;
  --white: #ffffff;

  --mobile-header-height: 72px;
}

/* Home Header and Mobile Nav */
@media (max-width: 719px) {
  .home aside header {
    background: url('/assets/suggestions/mobile/background-header.png');
    background-size: cover;
    height: var(--mobile-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.25rem;
  }

  .home .mobile-nav {
    position: absolute;
    top: var(--mobile-header-height);
    z-index: 20;
    background-color: var(--bg-indigo-100);
    width: 75%;
    padding: 1.5rem;
  }

  .home .mobile-nav > :first-child {
    margin-bottom: 1.5rem;
  }

  .home .mobile-nav.show {
    opacity: 1;
    right: 0;
  }

  .home .mobile-nav.hide {
    opacity: 0;
    right: 100%;
  }

  .home aside .mobile-nav-backdrop {
    content: '';
    position: absolute;
    inset: 0;
    top: var(--mobile-header-height);
    background-color: #000000;
    opacity: 0.5;
    z-index: 15;
  }

  /* Home Mobile Nav Button */
  .mobile-nav-button .bar,
  .mobile-nav-button .bar:after,
  .mobile-nav-button .bar:before {
    background: var(--white);
    width: 20px;
    height: 3px;
  }

  .mobile-nav-button .bar {
    position: relative;
    transition: all 0ms 300ms;
  }

  .mobile-nav-button .bar:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-nav-button .bar:after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-nav-button .bar.animate {
    background: rgb(232, 89, 146, 0);
  }

  .mobile-nav-button .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-nav-button .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@media (min-width: 720px) {
  .home aside header {
    background-image: url('/assets/suggestions/tablet/background-header.png');
    background-size: cover;
  }
}

@media (min-width: 976px) {
  .home aside header {
    background-image: url('/assets/suggestions/desktop/background-header.png');
    background-size: cover;
  }
}

.roadmap-feedback-card.planned {
  border-color: var(--coral);
}

.roadmap-feedback-card.in-progress {
  border-color: var(--violet-900);
}

.roadmap-feedback-card.live {
  border-color: var(--sky-medium);
}

.roadmap-status-panel .title::before,
.roadmap-feedback-card .status::before {
  content: '●';
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.roadmap-status-panel .title::before {
  margin-right: 1rem;
}

.roadmap-status-panel .title.planned::before,
.roadmap-feedback-card.planned .status::before {
  color: var(--coral);
}

.roadmap-status-panel .title.in-progress::before,
.roadmap-feedback-card.in-progress .status::before {
  color: var(--violet-900);
}

.roadmap-status-panel .title.live::before,
.roadmap-feedback-card.live .status::before {
  color: var(--sky-medium);
}

.home-suggestions-section h2::before {
  content: url('/assets/suggestions/icon-suggestions.svg');
  position: relative;
  top: 0.125rem;
  right: 0.75rem;
}

.feedback-card .comments::before,
.roadmap-feedback-card .comments::before {
  content: url('/assets/shared/icon-comments.svg');
  position: relative;
  top: 0.2rem;
  right: 0.6rem;
  opacity: 1;
}

.roadmap-tags-nav-mobile::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #8c92b3;
  left: 0;
  bottom: 0;
  position: absolute;
}

.roadmap-tags-nav-mobile .planned {
  border-color: var(--coral);
}

.roadmap-tags-nav-mobile .in-progress {
  border-color: var(--violet-900);
}

.roadmap-tags-nav-mobile .live {
  border-color: var(--sky-medium);
}

.roadmap-feedbacks-section .active-status {
  display: block;
}

/* Skeleton */
.skeleton {
  display: block;
  width: 100%;
  border-radius: 5px;

  background-image: linear-gradient(270deg, #111111, #333333, #333333, #111111);
  background-size: 400% 100%;
  animation: loading 8s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

input[type='radio'] {
  width: 0px;
  height: 0px;
}

/* Check this: */
input[type='radio']:focus + label {
  box-shadow: inset 0 0 0 2px black;
}

.feedback-comments-section .feedback-comment:not(:last-of-type) {
  border-bottom: 1px solid var(--bg-indigo-400);
}

.feedback-card span.full-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/*  Styles for Upvote Button */
.roadmap-feedback-card button svg,
.feedback-card button svg {
  margin-top: -0.2rem;
  margin-right: 0.75rem;
}

@media (min-width: 720px) {
  .feedback-card button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 0.5rem;
    order: -1;
    min-width: 40px;
  }

  .feedback-card button svg {
    margin-bottom: 0.625rem;
    margin-right: 0;
  }
}

.form-new::before {
  content: url('/assets/shared/icon-new-feedback.svg');
}

.form-edit::before {
  content: url('/assets/shared/icon-edit-feedback.svg');
}

.form-new::before,
.form-edit::before {
  position: absolute;
  top: -1.25rem;
}

@media (min-width: 720px) {
  .form-new::before {
    transform: scale(1.4);
  }

  .form-edit::before {
    transform: scale(1.3);
  }

  .form-edit button:first-of-type {
    margin-left: 1rem;
  }
  .form-edit button:last-of-type {
    margin-right: auto;
  }
}
