@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Jost', sans-serif;
    background-color: #f7f8fd;
  }
  main {
    min-height: 95vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    line-height: 35px;
    letter-spacing: -0.333333px;
  }
  h2 {
    line-height: 29px;
    letter-spacing: -0.25px;
  }
  h3 {
    line-height: 26px;
    letter-spacing: -0.25px;
  }
  h4 {
    line-height: 20px;
    letter-spacing: -0.194444px;
  }
  small {
    font-size: 100%;
  }
  button {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
  button:disabled {
    cursor: not-allowed;
  }
  input {
    margin: 0;
  }
  svg {
    display: inline;
  }
}

:root {
  --color-blue-500: #7c91f9;
  --color-blue-900: #4661e6;
  --color-black: #000000;
  --color-coral: #f49f85;
  --color-indigo-100: #f7f8fd;
  --color-indigo-300: #f2f4ff;
  --color-indigo-400: #cfd7ff;
  --color-indigo-500: #647196;
  --color-indigo-600: #656ea3;
  --color-indigo-800: #3a4374;
  --color-indigo-900: #373f68;
  --color-sky-medium: #62bcfa;
  --color-red-500: #e98888;
  --color-red-900: #d73737;
  --color-violet-900: #ad1fea;
  --color-white: #ffffff;

  --mobile-header-height: 72px;
}

/* Home Suggestions Title Bar */
.home-suggestions-section h2::before {
  content: url('/assets/suggestions/icon-suggestions.svg');
  position: relative;
  top: 0.25rem;
  right: 0.75rem;
}

.home-suggestions-section header :last-child {
  margin-left: auto;
}

/* Home Header and Mobile Nav */
@media (max-width: 719px) {
  .home > header {
    background: url('/assets/suggestions/mobile/background-header.png');
    background-size: cover;
    height: var(--mobile-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.25rem;
  }

  .home .mobile-nav {
    position: absolute;
    top: var(--mobile-header-height);
    z-index: 20;
    background-color: var(--color-indigo-100);
    width: 75%;
    padding: 1.5rem;
    transition: 0.05s ease;
  }

  .home .mobile-nav.show {
    opacity: 1;
    right: 0;
  }

  .home .mobile-nav.hide {
    opacity: 0;
    right: 100%;
  }

  .home .mobile-nav > :first-child {
    margin-bottom: 1.5rem;
  }

  .home .mobile-nav-backdrop {
    content: '';
    position: absolute;
    inset: 0;
    top: var(--mobile-header-height);
    background-color: var(--color-black);
    opacity: 0.5;
    z-index: 15;
  }

  /* Home Mobile Nav Button */
  .mobile-nav-button {
    width: 20px;
    min-height: 25px;
  }

  .mobile-nav-button .bar,
  .mobile-nav-button .bar:after,
  .mobile-nav-button .bar:before {
    display: block;
    background: var(--color-white);
    width: 20px;
    height: 3px;
  }

  .mobile-nav-button .bar {
    position: relative;
    transition: all 0ms 300ms;
  }

  .mobile-nav-button .bar:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-nav-button .bar:after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-nav-button .bar.animate {
    background: rgb(232, 89, 146, 0);
  }

  .mobile-nav-button .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-nav-button .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@media (min-width: 720px) {
  .home > header {
    background-image: url('/assets/suggestions/tablet/background-header.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
}

@media (min-width: 976px) {
  .home > header {
    background-image: url('/assets/suggestions/desktop/background-header.png');
    background-size: cover;
    height: 100%;
  }
}

/* Home Dropdown */
/* shares styles with Form Dropdown */
#dropdown-container {
  position: relative;
}

#dropdown-sort-toggle-button {
  font-weight: bold;
  font-size: 14px;
  padding-block: 0.5rem;
  margin-block-start: 0.1rem;
}

#dropdown-sort-toggle-button::after {
  content: url('/assets/shared/icon-arrow-down-white.svg');
  margin-left: 10px;
}

#dropdown-sort-toggle-button[aria-expanded='true']::after {
  content: url('/assets/shared/icon-arrow-up-white.svg');
  margin-left: 10px;
}

#dropdown-sort-label {
  font-weight: normal;
  font-size: 13px;
  color: var(--color-white);
  margin-inline-end: 0.5rem;
  cursor: pointer;
}

#dropdown-container.open #dropdown-sort-label,
#dropdown-sort-toggle-button[aria-expanded='true'] {
  opacity: 0.75;
}

#dropdown-sort-label.disabled,
#dropdown-sort-toggle-button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

#dropdown-sort-menu,
#dropdown-container ul[id^='dropdown-'] {
  position: absolute;
  top: 4.5rem;
  width: 255px;
  z-index: 20;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
  border-radius: 10px;
}

#dropdown-sort-menu li,
#dropdown-container ul[id^='dropdown-'] li {
  color: var(--color-indigo-500);
  font-weight: normal;
  padding-block: 0.8rem;
  padding-inline: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dropdown-sort-menu li.highlighted,
#dropdown-sort-menu li:hover,
#dropdown-container ul[id^='dropdown-'] li.highlighted,
#dropdown-container ul[id^='dropdown-'] li:hover {
  color: var(--color-violet-900);
}

#dropdown-sort-menu li.selected::after,
#dropdown-container ul[id^='dropdown-'] li.selected::after {
  content: url('/assets/shared/icon-check.svg');
}

#dropdown-sort-menu li:not(:last-of-type),
#dropdown-container ul[id^='dropdown-'] li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-indigo-400);
}

/* Form Create/Edit Dropdown */
[class^='form-'] button[id^='dropdown-'] {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  color: var(--color-indigo-800);
  border-radius: 5px;
  background-color: var(--color-indigo-100);
  border: 1px solid var(--color-indigo-100);
  width: 100%;
  height: 48px;
  padding-inline: 1.5rem;
  margin-block-start: 0.5rem;
}

[class^='form-'] label[id^='dropdown-'] {
  color: var(--color-indigo-500);
}

[class^='form-'] button[id^='dropdown-']:hover {
  border: 1px solid var(--color-blue-900);
}

[class^='form-'] #dropdown-container ul[id^='dropdown-'] {
  top: 5.5rem;
  width: 100%;
}

[class^='form-'] #dropdown-container ul[id^='dropdown-'] li {
  font-size: 1rem;
}

[class^='form-'] button[id^='dropdown-']::after {
  content: url('/assets/shared/icon-arrow-down.svg');
}

[class^='form-'] #dropdown-container.open button[id^='dropdown-']::after {
  content: url('/assets/shared/icon-arrow-up.svg');
}

[class^='form-'] button[id^='dropdown-']::after,
[class^='form-'] #dropdown-container.open button[id^='dropdown-']::after {
  position: absolute;
  right: 1.5rem;
}

/* Home Roadmap Status and Roadmap Page */
.roadmap-feedback-card.planned {
  border-color: var(--color-coral);
}

.roadmap-feedback-card.in-progress {
  border-color: var(--color-violet-900);
}

.roadmap-feedback-card.live {
  border-color: var(--color-sky-medium);
}

.roadmap-status-panel .title::before,
.roadmap-feedback-card .status::before {
  content: '●';
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.roadmap-status-panel .title::before {
  margin-right: 1rem;
}

.roadmap-status-panel .title.planned::before,
.roadmap-feedback-card.planned .status::before {
  color: var(--color-coral);
}

.roadmap-status-panel .title.in-progress::before,
.roadmap-feedback-card.in-progress .status::before {
  color: var(--color-violet-900);
}

.roadmap-status-panel .title.live::before,
.roadmap-feedback-card.live .status::before {
  color: var(--color-sky-medium);
}

.roadmap-tags-nav-mobile::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #8c92b3;
  left: 0;
  bottom: 0;
  position: absolute;
}

.roadmap-tags-nav-mobile .planned {
  border-color: var(--color-coral);
}

.roadmap-tags-nav-mobile .in-progress {
  border-color: var(--color-violet-900);
}

.roadmap-tags-nav-mobile .live {
  border-color: var(--color-sky-medium);
}

.roadmap-feedbacks-section .active-status {
  display: block;
}

/* Categories Tags Filter */
input[type='radio'] {
  width: 0px;
  height: 0px;
}

/* Check this: border when is focused */
input[type='radio']:focus + label {
  box-shadow: inset 0 0 0 2px var(--color-black);
}

/* Feedback Article Card */
.feedback-card span.full-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.feedback-card .comments::before,
.roadmap-feedback-card .comments::before {
  content: url('/assets/shared/icon-comments.svg');
  position: relative;
  top: 0.2rem;
  right: 0.6rem;
  opacity: 1;
}

/* Feedback Detail Page */
#feedback-comments-section .feedback-comment:not(:last-of-type) {
  border-bottom: 1px solid var(--color-indigo-400);
}

#feedback-comments-section img {
  border-radius: 50%;
}

.feedback-comment,
.comment-reply {
  position: relative;
}

.feedback-comment.with-replies::after,
.comment-reply::after,
.comment-reply:last-of-type:after {
  content: '';
  position: absolute;
  width: 1px;
  border-left: solid 1px var(--color-indigo-400);
}

.comment-reply::after {
  top: 0;
  bottom: -25px;
}

.comment-reply:last-of-type:after {
  top: 0px;
  height: 20px;
}

@media (min-width: 720px) {
  .feedback-comment.with-replies::after,
  .comment-reply::after,
  .comment-reply:last-of-type:after {
    left: 20px;
  }

  .feedback-comment.with-replies::after {
    top: 90px;
    height: 30%;
  }

  .comment-reply:last-of-type:after {
    top: -60px;
    height: 80px;
  }
}

/*  Styles for Upvote Button */
.roadmap-feedback-card button svg,
.feedback-card button svg {
  margin-top: -0.2rem;
  margin-right: 0.75rem;
}

@media (min-width: 720px) {
  .feedback-card button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 0.5rem;
    order: -1;
    min-width: 40px;
  }

  .feedback-card button svg {
    margin-bottom: 0.625rem;
    margin-right: 0;
  }
}

/* Create/Edit Form */
.form-new::before {
  content: url('/assets/shared/icon-new-feedback.svg');
}

.form-edit::before {
  content: url('/assets/shared/icon-edit-feedback.svg');
}

.form-new::before,
.form-edit::before {
  position: absolute;
  top: -1.25rem;
}

@media (min-width: 720px) {
  .form-new::before {
    transform: scale(1.4);
  }

  .form-edit::before {
    transform: scale(1.3);
  }
  /* Last btn in form button group: */
  [class^='form-'] div:last-of-type button:first-of-type {
    margin-left: 1rem;
  }

  .form-edit button:last-of-type {
    margin-right: auto;
  }
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: var(--color-blue-900);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Login Mockup */
@media (max-width: 719px) {
  .login {
    display: flex;
  }
  .login.tablet {
    display: none;
  }
}

@media (min-width: 720px) {
  .login {
    display: none;
  }
  .login.tablet {
    display: flex;
    justify-content: center;
    justify-items: center;
    grid-column: 1 / span 3;
    width: 100%;
  }

  .login.tablet p {
    width: auto;
  }
}

@media (min-width: 976px) {
  .login {
    display: flex;
  }
  .login.tablet {
    display: none;
  }
}

/* Delete Feedback Dialog */
.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

#alert_dialog {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 2rem 2.5rem 1.5rem;
  position: absolute;
  min-width: 300px;
  top: 40vh;
  left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
  transform: translate(
    -50%,
    -50%
  ); /* move backwards 50% of this element's width */
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
}
